@import "primereact/resources/themes/lara-light-cyan/theme.css";

html {
  background-color: #eeeeee;
}
body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#feedback {
  position: relative;
  color: red;
  font-size: 13px;
  text-align: left;
  font-family: inherit;
  max-width: 275px;
}

